@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.layout-container {
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hidden {
    @apply absolute invisible overflow-hidden h-0 w-0 m-0 p-0
}

.ico_modify {
    @apply bg-[url("/images/free-icon-edit-button-6065488.png")] inline-block w-[40px] h-[40px] bg-cover bg-center
}

.ico_arrow {
    @apply inline-block w-[20px] h-[30px] bg-cover bg-center bg-[url("/images/free-icon-up-arrow-5174032.png")]
}

.ico_arrow_down {
    @apply inline-block w-[20px] h-[30px] bg-cover bg-center bg-[url("/images/free-icon-up-arrow-5174032.png")];
    transform: rotate(180deg);
}

.button-close {
    @apply bg-[url("/images/free-icon-x-symbol-75519.png")] inline-block w-[25px] h-[20px] bg-cover bg-center
}

.todo-work {
    @apply flex-1 px-2 py-1 border rounded-md
}

.todo-completed-button {
    @apply ml-2 px-2 py-1 bg-blue-500 text-white rounded-md
}

.todo-input-box {
    @apply flex mt-3
}

.todo-layout {
    @apply w-[300px] bg-blue-100 p-4 rounded-lg shadow-md
}

.todo-title {
    @apply text-blue-600 text-lg font-bold text-center
}

.todo-backgroud{
    @apply flex items-center justify-between bg-blue-400 text-white px-3 py-2 rounded-md shadow-md
}

.todo-input-event{
    @apply bg-white text-black px-2 py-1 rounded-md
}

.todo-kanbanbord{
    @apply flex justify-center gap-6 p-6 bg-blue-100 min-h-screen
}